/* Header */
#banner{
    width: 100%;
    height: 180px;
    background-image: url("../img/pattern.png");
    background-color: aqua;
    /* position: relative; */
}

#titolo{
    margin-right: 75%;
    margin-top: 25px;
    /* position: absolute; */
}

header p{
    color: gray;
}

#blue{
    color: blue;
}
/* End Header */

.testo_piccolo{
    font-size: smaller;
}

.evidenziato{
    background-color: yellow;
}

#row1{
    font-weight: 800;
    background-color: blue;
}

#row_aqua{
    background-color: aqua;
}